
<header class="masthead u-margin-bottom">
  <nav class="u-padding-top-tiny u-padding-bottom-tiny dark-blue-bg">
    <div class="o-wrapper utility-nav">
        <a class="utility-nav__link utility-nav__link--tel" href="tel:01424 431733">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-phone"></use>
          </svg>
        <span class="utility-nav__text">01424 431733</span>
        </a>
        <a class="utility-nav__link utility-nav__link--hide-mobile" href="#">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-info"></use>
          </svg>
          <span class="utility-nav__text">About
        </a>
        <a class="utility-nav__link utility-nav__link--hide-mobile" href="#">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-location2"></use>
          </svg>
          <span class="utility-nav__text">Branches</span>
        </a>
        <a class="utility-nav__link utility-nav__link--login" href="#">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-user"></use>
          </svg>
          <span class="utility-nav__text">Login / register</span>
        </a>
    </div>
  </nav>
  <div class="o-wrapper">
    <div class="utility-nav utility-nav--logo">
      <a href="/" class="logo">
        <img class="logo__image" src="/css/images/logo.svg" alt="Trade Paint Limited logo" title="Go to homepage" />
      </a>
      <div class="search u-3/5">


      <form class="search__form">
        <button class="search__button ">
          <svg height="24px" class="icon icon--large">
            <use xlink:href="#icon-search"></use>
          </svg>
        </button>
        <input class="search__input" type="text" value="" placeholder="Search the site"/>

      </form>
      </div>
      <a class="utility-nav__link utility-nav__link--hide-tablet-up" href="#">
        <svg class="icon utility-nav__icon--large">
          <use xlink:href="#icon-search"></use>
        </svg><br />
        <span class="">Search</span>
      </a>
      <a class="utility-nav__link utility-nav__link--hide-tablet-up" href="#">
        <svg class="icon utility-nav__icon--large">
          <use xlink:href="#icon-location2"></use>
        </svg><br />
        <span class="">Branches</span>
      </a>
      <a class="utility-nav__link" href="#">
        <svg class="icon utility-nav__icon--large">
          <use xlink:href="#icon-cart"></use>
        </svg><br />
        <span class="utility-nav__link--trolley">
          Trolley
          <span class="utility-nav__trolley-total">0</span>
      </span>
      </a>
    </div>
  </div>

  <nav class="light-blue-bg" id="main-menu">
    <div class="o-wrapper main-nav">
      {% assign pages = site.pages | sort:"order" %}
      {% for my_page in pages %}
      {% if my_page.title %}
      <a class="{{ my_page.anchor-class }}" href="{{ my_page.url | prepend: site.baseurl }}">
        {{ my_page.title | escape }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
</header>
