
<header class="masthead u-margin-bottom">
  <nav class="u-padding-top-tiny u-padding-bottom-tiny dark-blue-bg">
    <div class="o-wrapper utility-nav">
        <a class="utility-nav__link" href="tel:01424 431733">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-phone"></use>
          </svg>
          <br />
          <span class="utility-nav__text">01424 431733</span>
        </a>
        <a class="utility-nav__link" href="#">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-info"></use>
          </svg>
          <br />
          <span class="utility-nav__text">About
        </a>
        <a class="utility-nav__link" href="#">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-location2"></use>
          </svg>
          <br />
          <span class="utility-nav__text">Branches</span>
        </a>
        <a class="utility-nav__link" href="#">
          <svg class="icon utility-nav__icon">
            <use xlink:href="#icon-user"></use>
          </svg>
          <br />
          <span class="utility-nav__text">Login</span>
        </a>
    </div>
  </nav>
  <div class="o-wrapper u-padding-top u-padding-bottom">
    <div class="utility-nav utility-nav--logo">
      <a href="/" class="logo">
        <img class="logo__image" src="/css/images/logo.svg" alt="Trade Paint Limited corporate logo" title="Trade Paints Homepage" />
      </a>
    <!-- <a class="utility-nav__link" href="#">
      <svg class="icon icon--large">
        <use xlink:href="#icon-menu"></use>
      </svg>
      <br />
      <span class="">Shop</span>
    </a> -->
    <a class="utility-nav__link" href="#">
      <svg class="icon utility-nav__icon--large">
        <use xlink:href="#icon-search"></use>
      </svg>
      <br />
      <span class="">Search</span>
    </a>
    <a class="utility-nav__link" href="#">
      <svg class="icon utility-nav__icon--large">
        <use xlink:href="#icon-cart"></use>
      </svg>
      <br />
      <span class="">Trolley</span>
    </a>
  </div>

  </div>

  <nav class="light-blue-bg" id="main-menu">
    <div class="o-wrapper main-nav">
      {% assign pages = site.pages | sort:"order" %}
      {% for my_page in pages %}
      {% if my_page.title %}
      <a class="{{ my_page.anchor-class }}" href="{{ my_page.url | prepend: site.baseurl }}">
        {{ my_page.title | escape }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
</header>
