
<header class="masthead u-padding-top-small">
  <div class="sticky">
    <div class="o-wrapper">
      <div class="utility-nav">
        <a href="/" class="logo">
          <img class="logo__image" src="/css/images/logo.svg" alt="Trade Paint Limited logo" title="Go to homepage" />
        </a>
        <div class="search">
          <form class="search__form">
            <button class="search__button ">
              <svg height="24px" class="icon icon--large">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>
            <input class="search__input" type="text" value="" placeholder="Search the site"/>
          </form>
        </div>

        <nav class="u-padding-left">
          <div class="utility-nav">
            <a class="utility-nav__link" href="#">
              <svg class="icon utility-nav__icon">
                <use xlink:href="#icon-location2"></use>
              </svg>
              <span class="hidden-mobile">&nbsp;Branches</span>
            </a>
            <!-- <a class="utility-nav__link" href="#">
                <svg class="icon">
                  <use xlink:href="#icon-cart"></use>
                </svg>
                <span class="utility-nav__link--trolley">
                  Trolley<span class="utility-nav__trolley-total">(0)</span>
              </span>
              </a> -->
              <a class="utility-nav__link utility-nav__link--login" href="#">
                <svg class="icon utility-nav__icon">
                  <use xlink:href="#icon-user"></use>
                </svg>
                <span class="hidden-mobile">&nbsp;Login / register</span>
              </a>
          </div>
        </nav>
      </div>
    </div>
  </div>

    <nav class="o-wrapper priority-nav">
      <div class="main-nav">
        {% assign pages = site.pages | sort:"order" %}
        {% for my_page in pages %}
          {% if my_page.title %}
            <a class="{{ my_page.anchor-class }}" href="{{ my_page.url | prepend: site.baseurl }}">
              {{ my_page.title | escape }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

</header>

  <div class="c-usps">
    <div class="c-usps__container o-wrapper">

  {% for usps in site.data.usps %}
    <div class="c-usps__item">
      <svg class="icon">
        <use xlink:href="#{{ usps.icon }}"></use>
      </svg>
      <div class="c-usps__content">
          <a class="c-usps__link" title="Learn more" href="#">
            <strong>{{ usps.title }}</strong>
          </a>
      </div>
    </div>
  {% endfor %}
</div>
  </div>
