<section class="">
  <div class="o-layout u-margin-bottom">
  <div class="o-layout__item u-1/2@tablet  u-1/2@desktop">
    <img
      src="https://placeholdit.imgix.net/~text?txtsize=25&bg=999999&txtclr=666666&txt=320x1201&w=320&h=180"
      srcset="https://placeholdit.imgix.net/~text?txtsize=50&bg=999999&txtclr=666666&txt=492x277&w=492&h=277 492w, https://placeholdit.imgix.net/~text?txtsize=75&bg=999999&txtclr=666666&txt=640x360&w=640&h=360 640w" />
  </div>
  <div class="o-layout__item u-1/2@tablet  u-1/2@desktop">
    <img
      src="https://placeholdit.imgix.net/~text?txtsize=25&bg=999999&txtclr=666666&txt=320x1201&w=320&h=180"
      srcset="https://placeholdit.imgix.net/~text?txtsize=50&bg=999999&txtclr=666666&txt=492x277&w=492&h=277 492w, https://placeholdit.imgix.net/~text?txtsize=75&bg=999999&txtclr=666666&txt=640x360&w=640&h=360 640w" />
  </div>
</div>
<div class="o-layout u-margin-bottom">

  <div class="o-layout__item u-1/3@tablet  u-1/3@desktop">
    <img
      src="https://placeholdit.imgix.net/~text?txtsize=25&bg=999999&txtclr=666666&txt=320x1201&w=320&h=180"
      srcset="https://placeholdit.imgix.net/~text?txtsize=50&bg=999999&txtclr=666666&txt=492x277&w=492&h=277 492w, https://placeholdit.imgix.net/~text?txtsize=75&bg=999999&txtclr=666666&txt=640x360&w=640&h=360 640w" />
  </div>
  <div class="o-layout__item u-1/3@tablet  u-1/3@desktop">
    <img
      src="https://placeholdit.imgix.net/~text?txtsize=25&bg=999999&txtclr=666666&txt=320x1201&w=320&h=180"
      srcset="https://placeholdit.imgix.net/~text?txtsize=50&bg=999999&txtclr=666666&txt=492x277&w=492&h=277 492w, https://placeholdit.imgix.net/~text?txtsize=75&bg=999999&txtclr=666666&txt=640x360&w=640&h=360 640w" />
  </div>
  <div class="o-layout__item u-1/3@tablet  u-1/3@desktop">
    <img
      src="https://placeholdit.imgix.net/~text?txtsize=25&bg=999999&txtclr=666666&txt=320x1201&w=320&h=180"
      srcset="https://placeholdit.imgix.net/~text?txtsize=50&bg=999999&txtclr=666666&txt=492x277&w=492&h=277 492w, https://placeholdit.imgix.net/~text?txtsize=75&bg=999999&txtclr=666666&txt=640x360&w=640&h=360 640w" />
  </div>
</div>
</section>
