<section class="">
  <h2 class="u-h5">News and Offers</h3>
  <div class="o-layout u-margin-bottom">
    {% for news in site.data.news-wide %}
      <div class="o-layout__item u-1/2@mobile u-1/4@tablet  u-1/4@desktop">
        <div class="o-block o-block--flush o-block--news o-block--left white-bg">
          <a class="o-block__img" href="#">
            <img src="{{ news.src }}" />
          </a>
          <div class="o-block__content u-padding-small">
            <h3 class="u-h6 u-margin-bottom-none">
              <a href="">
                {{ news.title }}
              </a>
            </h3>
            <p class="u-margin-bottom-none">
              {{ news.excerpt }}&hellip;
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
