<div class="slider js_slider u-margin-bottom-large">
    <div class="frame js_frame">
        <ul class="slides js_slides">
            {% for hero in site.data.hero %}
            <li class="js_slide">
                <a href="" class="slide">
                    <div class="slide__caption u-2/5@mobile">
                        <div class="slide__caption-inner">
                            <h1 class="slide__caption-heading u-margin-bottom-none">
                                {{ hero.title}}
                            </h1>
                            <h2 class="u-h6 slide__tagline u-gray u-margin-bottom-none">
                              {{ hero.tagline }}
                            </h2>
                        </div>
                    </div>
                    <img class="slide__image u-3/5@mobile" src="{{ hero.image }}" />
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


</div>
