    <div class="slider js_slider">
      <div class="frame js_frame">
        <ul class="slides js_slides o-list-bare">
          <li class="slide">
            <div class="slide__image--container">
              <a href="">
              <img
                src="https://placeholdit.imgix.net/~text?txtsize=25&bg=999999&txtclr=666666&txt=320x1201&w=320&h=180"
                srcset="https://placeholdit.imgix.net/~text?txtsize=50&bg=999999&txtclr=666666&txt=492x277&w=492&h=277 492w, https://placeholdit.imgix.net/~text?txtsize=75&bg=999999&txtclr=666666&txt=640x360&w=640&h=360 640w, https://placeholdit.imgix.net/~text?txtsize=100&bg=999999&txtclr=666666&txt=1280x549&w=1280&h=549 1280w"
                sizes="100vw" />
            </a>
            <div class="slide__image--caption u-padding-small">
              <span>Caption or overlay here...</span>
            </div>
          </div>
          </li>
        </ul>
        <span class="slides__prev prev">
                     <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                 </span>

                 <span class="slides__next next">
                     <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                 </span>
      </div>
      </div>
