/*
  Various background colour styles for easy re-use and update
  */

.light-blue-bg {
  background-color: $color-blue-light;
}

.dark-blue-bg {
  background-color: $color-blue-dark;
}

.white-bg {
  background-color: $color-white;
}
