footer {
  color:$color-white;
  background-color: $color-brand;

  nav {

    @include mq($until: tablet) {
      margin-bottom: $inuit-global-spacing-unit-large;
    }

    a {
      color:$color-white;
      text-decoration: none;
      display:block;
    }
  }
}
