.utility-nav {

  color: $color-white;
  display: flex;

  align-items: center;
  justify-content: space-between;


  .utility-nav__link {

    opacity: 0.87;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*@include mq($until: tablet) {
      @include inuit-font-size(12px,1);
    }*/

    // Alter the utility nav link display for tablets and up
    @include mq($from: tablet) {
      flex-grow: 0;
    }

    &:hover,
    &:active {
      opacity: 1;
      text-decoration: none;
    }
  }

  /*.utility-nav__link--tel {
    @include mq(mobile) {
      text-align: left;
    }
  }*/

  .utility-nav__link--login {
    @include mq(mobile) {
      justify-content: flex-end;
    }
  }

  .utility-nav__link--hide-tablet-up {
    @include mq($from: tablet) {
      display: none;
    }
  }

  .utility-nav__link--trolley {
    position: relative;
  }

  .utility-nav__trolley-total {
    top: -24px;
    right: -18px;
    position: absolute;
    padding-top: 6px;
    width:24px;
    height:24px;
    background: #d8000a;
    border: none;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    @include inuit-font-size(12px,1);

    @include mq($from: tablet) {
      top: -36px;
      right: -12px;
    }
  }

  .utility-nav__link + .utility-nav__link {

    //border-left: 1px solid $color-white;
    padding-left: $inuit-global-spacing-unit-small;


    @include mq($from: tablet) {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: $inuit-global-spacing-unit;
    }
  }

  a {
    text-decoration: none;
    color: $color-white;
  }
}
