/*
 * Pretty icons
 * 1. Make the icons larger on mobile
 */
.icon {
  display: inline-block;
  fill: $color-white;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
}

.icon--large {
  width: 18px;
  height: 18px;

  @include mq($from: tablet) {
    width: 24px;
    height: 24px;
  }
}

.utility-nav__icon {

  width: 36px; /* 1. */
  height: 36px;

  @include mq($from: mobile-wide) {
    width: 16px;
    height: 16px;
  }
}

.utility-nav__icon--large {
  width: 24px;
  height: 24px;
}

.utility-nav__icon--social {
  background: #fff
}

.icon--twitter svg {
  display:block;
  width: 100%;
  height: 100%;

}
