.newsletter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-top: $inuit-global-spacing-unit;
  padding-bottom: $inuit-global-spacing-unit;

  @include mq($from: desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.newsletter__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $inuit-global-spacing-unit;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  @include mq($from: desktop) {
    margin-bottom: 0;
  }
}

.newsletter__form--align-left {
  align-items: baseline;
}

.newsletter__item {
  display:flex;
  padding-top: $inuit-global-spacing-unit;
  padding-bottom: $inuit-global-spacing-unit;
  justify-content: center;
}

.newsletter__email {
  border: none;
  outline: none;
  padding: 9px 0 9px 12px;
  color: rgba(255, 255, 255, 0.7);
  color: #333;
}

.newsletter__input {
  display: flex;
}

.newsletter__social {
  display: flex;
  padding-top: $inuit-global-spacing-unit-tiny;
  padding-bottom: $inuit-global-spacing-unit-tiny;
}
