/*
 * Pretty icons
 * 1. Parent item needs to be position: relative for this to work
 */
.icon {
  display: inline-block;
  fill: $color-white;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
}

.icon--large {
  width: 18px;
  height: 18px;

  @include mq($from: tablet) {
    width: 24px;
    height: 24px;
  }
}

.utility-nav__icon {
  width: 12px;
  height: 12px;

  @include mq($from: tablet) {
    width: 16px;
    height: 16px;
  }
}

.utility-nav__icon--large {
  width: 24px;
  height: 24px;
}
