.main-nav {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.main-nav__link + .main-nav__link {
  margin-left: $inuit-global-spacing-unit-small;

  @include mq($from: tablet) {
    margin-left: $inuit-global-spacing-unit;
  }
}

.main-nav__link {

  /*@include inuit-font-size(12px, 1);
  height:36px;*/
  padding:12px 0 9px 0;
  text-decoration:none;
  display: inline-block;
  color: $color-white;
  opacity: 0.87;
  border-bottom: solid 3px transparent;

  @include mq($from: tablet) {
    @include inuit-font-size(16px);
  }

  &:hover,
  &:active {
    opacity: 1;
    text-decoration: none;
    color: $color-yellow;
    border-bottom: solid 3px $color-yellow;
  }
}

.paints nav .paints, .wood nav .wood, .fillers nav .fillers, .tools nav .tools, .ladders nav .ladders, .tiles nav .tiles, .cleaning nav .cleaning, .ppe nav .ppe, .specialist nav .specialist, .wallcoverings nav .wallcoverings {
  color: $color-yellow;
  text-decoration: none;
  border-bottom:3px solid $color-yellow;
}
