.trending {

  @include mq(desktop)
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 358px;
  }

  @include mq($until: tablet) {
    display: none;
  }
}
.trending__item {
  @include inuit-font-size(10px);
  display: block;
  border-left: 10px solid;
  border-color: $color-gray-light;
  background: $color-white;
  color: $color-gray-light;
  position: relative;
  &:hover:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 35%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $color-brand;
  }
  &:hover {
    color: $color-brand;
    border-color: $color-brand;
  }
  @include mq(tablet) {
    @include inuit-font-size(12px,1.5);
    padding: $inuit-global-spacing-unit;
    margin-bottom: $inuit-global-spacing-unit;
  }
  @include mq(desktop) {
     @include inuit-font-size(16px);
    padding: $inuit-global-spacing-unit;
    // margin-bottom: $inuit-global-spacing-unit--small;
    margin-bottom: 0;
  }
}
.trending__item--active {
  color: $color-brand;
  border-color: $color-brand;
  &:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 35%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $color-brand;
  }
}
.slider {
  margin-bottom: 24px;
  background: $color-white;
  border: 1px solid $color-gray-ui;
}
 .frame {
   position: relative;

   overflow: hidden;
   white-space: nowrap;
 }

.slides, .js_slide {
  display: inline-block;
}

.slide {
  display: flex;
  flex-direction: column-reverse;
  @include mq($from: mobile-wide) {
    flex-direction: row;
  }
  white-space: normal;
  width: 100%;
}

.slide__image {

}

.slide__caption {
  padding: $inuit-global-spacing-unit-tiny;
  @include mq($from: mobile-wide) {
    padding: $inuit-global-spacing-unit-small;
  }
}

.slide__caption-heading {
  @include fluid-type(320px, 1200px, 14px, 36px);
  line-height: 1;
}

.slide__caption-inner {

}
.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg, .prev svg {
    width: 25px;
}
