/**
        * (optional) define here the style definitions which should be applied on the slider container
        * e.g. width including further controls like arrows etc.
        */
.slider {
    position: relative;
    background: $color-white;
    border: 1px solid $color-gray-ui;

    margin-bottom: $inuit-global-spacing-unit-small;

    @include mq($from: tablet) {
      margin-bottom: $inuit-global-spacing-unit;
    }
}

.frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.frame li {
    position: relative;
    display: inline-block;
    line-height: normal;
    font-size: initial;
    width: 100%;
}

.slides {
    display: block;
    margin: 0;
}


.frame p {
  font-size: initial;
}

.next,
.prev {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg,
.prev svg {
    width: 25px;
}

.slide__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    width: 100%;
}

.slide__item--left {
  flex-direction: row-reverse;
}

.slide__caption-inner {
  padding: $inuit-global-spacing-unit-small;

  @include mq($until: tablet) {
    max-width: 50%;
  }

  @include mq($from: tablet) {
    padding: $inuit-global-spacing-unit;
  }
  @include mq($from: desktop) {
    padding: $inuit-global-spacing-unit-large;
  }

}

.slide__image {

  @include mq($until: tablet) {
    max-width: 50%;
  }

}

.slide__tagline {
  text-transform: uppercase;
  line-height: 1;
}

.slide__caption-heading {

    @include fluid-type(320px, 1200px, 16px, 60px);
    line-height: 1;
    text-transform: uppercase;
    white-space: normal;
}

.slide__tagline {
  @include fluid-type(320px, 1200px, 12px, 30px);
  line-height: 1;

}
