.logo {
  @include mq($from: tablet) {
    flex-grow: 1;
  }
}

.logo__image {

  height: 36px;
  @include inuit-clearfix();

  @include mq(tablet) {
    height: 48px;
  }

  @include mq($from: desktop) {
    height: 72px;
  }

}
