.main-nav {
  display:flex;
  flex-shrink: 0;
  height: 48px;
  width:100%;
  overflow-x: auto;
  overflow-y: hidden;
  
}

.main-nav__link {
  display: flex;
  color: $color-white;
  padding:12px;
  text-decoration:none;
  opacity: 0.87;
  height:48px;
  flex-shrink: 0;

  &:hover,
  &:active {
    opacity: 1;
    text-decoration: none;
    background-color: $color-blue-light;
  }
}
