/*
 * Pretty icons
 * 1. Parent item needs to be position: relative for this to work
 */
.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: $color-white;
  vertical-align: middle;
  margin-right: $inuit-global-spacing-unit-tiny;

  @include mq($from: tablet) {
    width: 16px;
    height: 16px;
  }

}

.icon--large {
  width: 36px;
  height: 36px;
  fill: $color-black;

}
