/*
 * Pretty icons
 * 1. Parent item needs to be position: relative for this to work
 */
.icon {
  display: inline-block;
  fill: $color-white;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.utility-nav__icon {
  width: 12px;
  height: 12px;

  @include mq($from: tablet) {
    width: 16px;
    height: 16px;
  }
}

.utility-nav__icon--large {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 18px;
  height: 18px;

}
