/*
 * Pretty icons
 * 1. Parent item needs to be position: relative for this to work
 */
.icon {
  display: inline-block;
  fill: $color-white;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.utility-nav__icon {
  width: 18px;
  height: 18px;
}

.utility-nav__icon--large {
  width: 24px;
  height: 24px;

}
