// Header styles
// Woot!

.masthead {
  @include inuit-clearfix();
  background-color: $color-blue-dark;

  // margin-top: $inuit-global-spacing-unit-small;

  margin-top: $inuit-global-spacing-unit-large;

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-blue-dark;
    padding-top:12px;
    z-index:10003;
  }
}

.search-container {
  float:right;
}
